@keyframes fadeOut {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}
@-webkit-keyframes fadeOut {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}
.fade-out {
    animation: fadeOut 1s linear 4s;
    -webkit-animation: fadeOut 1s linear 4s;
}
.message {
    position: fixed;
    z-index: 1;
}

a.remove-tag {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
a.remove-tag:hover {
    color: #bbb;
    text-decoration: none;
}
label.tag.filter-on {
    background-color:#55c;
}