<template name="currentMemory">
    <div class="col-md-6 col-md-offset-3 jumbotron">
        <div class="row text-center">
            <p><strong>{{memory.text}}</strong></p>
        </div>
        <div class="row text-center">
            <button class="btn btn-primary boost">This helped me remember!</button>
            <button class="btn btn-danger next">Hm, that's not it. Any other ideas?</button>
            <br/>
            <button class="btn btn-link flag">I found this to be offensive or inappropriate!</button>
        </div>
        <div class="row options-toggle">
            <button class="btn btn-link btn-sm" data-toggle="collapse" data-target="#sort_options">Sort/filter options
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
        </div>
        <div class="container collapse" id="sort_options">
            <div class="row text-center">
                {{#each memory.tags}}
                    <label class="label label-default tag {{filtered this}}">
                        <span class="tag-name">{{this}}</span>&nbsp;
                        <a class="remove-tag">&times;</a>
                    </label>
                {{/each}}
            </div>
            <div class="row">
                <form class="new-tag">
                    <div class="text-center input-group">
                        <input class="form-control" name="tag" type="text" list="tags"
                            placeholder="Tag this memory (single words only, no numbers or symbols)" autocomplete="off">
                        <datalist id="tags">
                            {{#each tags}}
                                <option>{{this}}</option>
                            {{/each}}
                        </datalist>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Add</button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row text-center">
                <button class="btn btn-default shuffle">Shuffle!</button>
                <strong>&nbsp;Sort by:&nbsp;</strong>
                <label class="radio-inline">
                    <input type="radio" name="orders" value="added" checked="true">Date
                </label>
                <label class="radio-inline">
                    <input type="radio" name="orders" value="upvotes">Upvotes
                </label>
            </div>
        </div>
    </div>
</template>