<template name="currentMemory">
    <div class="col-md-6 col-md-offset-3 jumbotron">
        <div class="row text-center">
            <p><strong>{{memory.text}}</strong></p>
        </div>
        <div class="row text-center">
            <button class="btn btn-primary boost">This helped me remember!</button>
            <button class="btn btn-danger next">Hm, that's not it. Any other ideas?</button>
            <br/>
            <button class="btn btn-link flag">I found this to be offensive or inappropriate!</button>
        </div>
        <div class="row text-center">
            <button class="btn btn-default shuffle">Shuffle!</button>
            <strong>&nbsp;Sort by:&nbsp;</strong>
            <label class="radio-inline">
                <input type="radio" name="orders" value="Date" checked="true">Date
            </label>
            <label class="radio-inline">
                <input type="radio" name="orders" value="Upvotes">Upvotes
            </label>
        </div>
    </div>
</template>