<template name="newMemory">
    <div class="row">
        <label class="col-md-6 col-md-offset-3 text-center">Are we forgetting anything? Help us all remember!</label>
    </div>
    <div class="row">
        <form class="new-memory">
            <div class="col-md-6 col-md-offset-3 text-center input-group">
                <input class="form-control" name="text" type="text" placeholder="What did you remember that you were forgetting?">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success">Submit</button>
                </span>
            </div>
        </form>
    </div>
</template>